.container {
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
}
::selection {
    background: #f4c726; /* Fallback color */
}

::-moz-selection {
    background: #f4c726; /* Fallback color for Firefox */
}
/*
@font-face {
    font-family: 'KyivTypeSans';
    src: url('../fonts/KyivTypeSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KyivTypeSans';
    src: url('../fonts/KyivTypeSans-Regular-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}*/

@font-face {
    font-family: 'KyivTypeSans';
    src: url('../fonts/KyivTypeSans-Medium1.ttf') format('truetype');
    font-style: normal;
}

body {
    background-color: #07143F;
    font-family: 'KyivTypeSans', sans-serif; 
    font-weight: 300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; 
}


.animated-background {
    position: fixed; /* Fixed or absolute, so it's placed relative to the viewport or its container */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* This places the background behind everything else */
    overflow: hidden; /* Prevents any overflow of the circles */
  }
  
  .animated-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 345px; /* Width of the circle */
    height: 345px; /* Height of the circle */
    border-radius: 50%; /* Makes the element circular */
    background: radial-gradient(circle at center, #ffd700 0%, #b8860b 100%); /* Gradient from bright yellow to a darker shade */
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.6); /* Outer glow with a light yellow color */
    animation: moveAndFade 10s infinite;
    animation-timing-function: ease-in-out;
    filter: blur(20px);

  }
  
  
  @keyframes moveAndFade {
    0%, 100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0);
    }
    50% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }  
  

h2 {
    color: white;
    font-family: 'KyivTypeSans', sans-serif; 
    font-size: 44pt;
    margin: 0;
    font-weight: 500;
}

.first-part-p {
    color: white;
    font-family: 'KyivTypeSans-Regular';
    text-align: left;
    font-size: 13pt;
}

.btn {
    padding: 12px 25px;
    color: #f4c726;
    border-radius: 6px;
    font-size: 16pt;
    background-color: none;
    border: 1px solid #f4c726;
    text-decoration: none;
    transition: .3s;
    font-weight: 700;
    text-transform: uppercase;
}

.btn:hover {
    color: #07143F;
    background-color: #f4c726;
    
}

header {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center; /* Correct the typo in 'center' */
    height: calc(100vh - 50px);
    padding: 0 60px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    padding: 25px 5px 5px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

/*.nav-link__active {
    color: #FFD748;
    border-bottom: solid 1.5px #FFD748;
}*/

.nav-link__active { 
    color: #FFD748;
}

.nav-link__active:after{
    content: '';
    display: block;
    width: 0%;
    padding-top: 5px;
    border-bottom: 2px solid #FFD748;
    transition: .5s;
}

.nav-link__active:hover::after{
    width: 100%;
}

.grop{
    width: 100%;
}

.nav-link:not(:last-child) {
    margin-right: 10px;
}

.first-main-part {
   
    flex-grow:1;
    flex-shrink:1;
    flex-basis: 60%;
}

.first-part-content {
    display:flex;
    align-items: center;
}

.first-part-h2 {
    width: 80%;
}

.first-part-h2 span {
    color: #f4c726;
}

.first-part-p {
    width: 65%;
    margin-bottom: 35px;
}

.first-image-part {
    /*flex-shrink: 1;*/
    flex-grow: 1;
    flex-shrink: 1;
    /*flex-basis: 500px;*/
}

.first-image-part img {
    width: 550px;
    width: 100%;
}


.h2-page2 {
    font-size: 50pt;
    color: #ffffff;
}

.second-main-page{
    display: none;
    text-align: center;
    font-size: 55pt;
    color: #fff;
    padding-top: 40px;
}

.loading{
    text-align: center;
    font-size: 55pt;
    padding-top: 80px;
    display: none;
}


/* Coloda cards */

.therd-main-page{
    padding-top: 60px;
    display: none;
}

.coloda-cards{
    display: flex;
    width:100%;
}

.coloda{

    flex-grow:1;
    flex-shrink: 1;
    flex-basis:33%;
}


.coloda-cards2{
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}

.coloda2{
    height: 525px;
    display: flex;
    justify-content: center;
}

.card{
    cursor: pointer;
    transition: .3s;
}

.card img{
    width: 100%;
    height: auto;
    max-width: 348px;
    min-width: 200px;
    border-radius: 15px;
}

.card:hover{
    padding-top: 10px;
}

.card-nohover:hover{
    padding-top: 0px;
}

.card-nohover{
    background-color: #fff;
    border-radius: 15px;
    width: 348px;
}


.card-nohover:not(:last-child){
    margin-right: 10px;
}

.card-nohover h2, p{
    color:#07143F
    /*padding: 30px;
    font-size: 40px;*/
}


.image-taro img{
    width: 401px;
    margin-top: -6px;
    height: 536px;
    max-width: 348px;
    min-width: 200px;
    border-radius: 15px;
    margin-right: 9px;

}



.therd-main-page{
    position: relative;
}




.maincontainer{
    width: 348px;
    height: 570px;
    background: none;
}

.maincontainer:not(:last-child){
    margin-right: 20px;
}

  
  
  /*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
  /*.thefront h2,
  .theback h2 {
    font-family: 'KyivTypeSans', sans-serif;
    padding: 20px 20px 0px 20px;
    font-size: 38px;
    text-align: left;
  }
  
  .thefront p,
  .theback p {
    font-family: 'KyivTypeSans-Regular', sans-serif;
    padding: 200px 20px 20px 20px;
    font-weight: normal;
    font-size: 12px;
    text-align: left;
  }


  /*This block (ends here) is merely styling for the flip card, and is NOT an essential part of the flip code */
  
  .name-taro{
    font-family: 'KyivTypeSans';
    font-size: 28pt;
    padding: 20px 20px 0px 20px;
  }

  .explanation-h2{
    font-family: 'KyivTypeSans';
    font-size: 28pt;
    padding: 20px 20px 0px 20px;
  }

 .description-taro{
    font-family: 'KyivTypeSans-Regular';
    font-size: 10pt;
    padding: 0px 20px 0px 20px;
 }

.explanation-taro{
    font-family: 'KyivTypeSans-Regular';
    font-size: 12pt;
    padding: 0px 20px 20px 20px;
}


.choose-p{
    color: white;
    font-family: 'KyivTypeSans-Regular';
    text-align: center;
    font-size: 13pt;
}

.choose-h2 span {
    color: #f4c726;
}

.res{
    font-size: 50pt;
    color: #ffffff;
    display: block;
}

/* Adapt */

@media screen and (max-width: 701px) {
    body{
        overflow: auto;
    }
    .container{
        padding: 0px 20px;
    }

    main{
        padding: 120px 20px;
    }

    .first-part-content{
        display: block;
    }

    .first-part-h2 {
        width: 100%;
    }
    .first-part-p{
        width: 400px;
        text-align: center;
    }

    .first-main-part{
        margin-bottom: 40px;
        text-align: center;
    }

    .first-image-part img {
        width: 115%;
        margin-left: -39px;
    }

    h2{
        font-size: 44px;
        line-height:50px;
    }

    .first-part-p{
        font-size: 12px;
    }

    .btn{

    }

    .coloda-cards{
        display: block;
    }

    .animated-circle {
      width: 200px;
      height: 200px;
    }
    .coloda2{
        display: block;
    }
    .card-nohover{
        height: 526px;
    }
    .image-taro img{
        margin-right: 0;
        width: 358px;
        max-width: none;
        min-width: none;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: -4px;
    }
    .therd-main-page{
        padding-top: 40px;
    }
  }
  